@media screen and (max-width: 1199px) {
  html body section#about {
    background-position: 65% 30% !important;
  }
}

@media screen and (max-width: 991px) {
  html body section#about {
    background-position: 65% 23% !important;
  }
}

@media screen and (max-width: 768px) {
  html body section#top a.logo,
  html body footer a.logo {
    margin: 0 auto;
  }
  html body section#top .btn {
    margin: 10px auto 0 auto;
    display: block;
    width: 30%;
  }
  html body section#top a.btn-default {
    top: 0px !important;
  }
  html body section#cta div.hire h1 {
    font-size: 2.1em !important;
  }
  html body section#about {
    background: none !important;
  }
  html body section#about img {
    margin: 0 auto;
    max-width: 60%;
  }
  html body section#quote blockquote {
    border: none !important;
    text-align: center;
  }
  html body section#quote a.btn-default {
    float: none !important;
    display: block;
    margin: 0px auto 30px auto;
    width: 30%;
    top: 0 !important;
  }
  html body footer {
    padding: 20px 0px !important;
  }
  html body footer ul {
    top: 0;
    text-align: center;
  }
}