html {
  body {
    section, footer {
      padding: 10px 0px;
    }
    a.btn-default {
      background-color: $blue;
      color: $white;
      border: none;
      &:hover {
        background-color: $dkblue;
        color: $white;
        transition: all 0.5s ease;
      }
      &:focus {
        background-color: $dkblue;
        color: $white;
      }
    }
    blockquote {
      font-family: 'Amatic SC', cursive;
    }
    .modal-body {
      .popup {
        img {
          display: block;
          margin: 0 auto;
          padding-bottom: 10px;
        }
        h2 {
          text-align: center;
          font-weight: 700;
          color: $blue;
          margin: 0px;
          font-size: 3em;
        }
        p {
          font-size: 1.3em;
          color: $grey;
          padding-top: 15px;
          text-align: center;
          em {
            color: $dkgrey;
            font-style: normal;
          }
        }
        ul {
          list-style: none;
          padding: 15px 0 0 0;
          margin: 0px;
          text-align: center;
          li {
            display: inline-block;
            padding-right: 20px;
            &:last-child {
              padding: 0px;
            }
            a.fa {
              font-size: 2.8em;
              color: $grey;
            }
            a.fa-envelope {
              &:hover {
                color: $dkgrey;
                transition: all 0.5s ease;
                text-decoration: none;
              }
              &:focus {
                text-decoration: none;
              }
            }
            a.fa-skype {
              &:hover {
                color: $skype;
                transition: all 0.5s ease;
                text-decoration: none;
              }
              &:focus {
                color: $skype;
                text-decoration: none;
              }
            }
            a.fa-facebook-official {
              &:hover {
                color: $facebook;
                transition: all 0.5s ease;
                text-decoration: none;
              }
              &:focus {
                color: $facebook;
                text-decoration: none;
              }
            }
            a.fa-twitter {
              &:hover {
                color: $twitter;
                transition: all 0.5s ease;
                text-decoration: none;
              }
              &:focus {
                color: $twitter;
                text-decoration: none;
              }
            }
            a.fa-github {
              &:hover {
                color: $black;
                transition: all 0.5s ease;
                text-decoration: none;
              }
              &:focus {
                color: $black;
                text-decoration: none;
              }
            }
          }
        }
      }
    }
  }
}