html {
  body {
    section#top {
      a.logo {
        background:url(../img/logo.png) top center no-repeat transparent;
        width: 250px;
        height: 83px;
        display: block;
        text-indent: -1000px;
        &:hover {
          opacity: 0.5;
          transition: all 0.5s ease;
        }
      }
      a.btn-default {
        position: relative;
        top: 25px;
      }
    }
    section#cta {
      .container {
        border-top: 5px solid $ltgreyalt;
      }
      div.hire {
        h1 {
          text-align: center;
          font-size: 4em;
          margin: 0px;
          padding-bottom: 10px;
          em {
            color: $blue;
            font-style: normal;
            font-weight: 700;
          }
        }
      }
      img {
        padding-top: 10px;
      }
    }
    section#services {
      background:url(../img/hex_bg.png) repeat;
      background-attachment: fixed;
      background-color: $blue;
      padding: 20px;
      h1 {
        color: $white;
        text-align: center;
      }
      p.glyphicon {
        background-color: $white;
        color: $blue;
        padding: 20px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -mox-border-radius: 50%;
        margin: 0 auto;
        text-align: center;
        display: block;
        max-width: 75px;
        font-size: 2.5em;
        &:hover {
          background-color: $dkblue;
          color: $white;
          transition: all 0.5s ease;
        }
      }
      h2 {
        color: $white;
        text-align: center;
      }
      p {
        color: $white;
        font-size: 1em;
        text-align: center;
        font-weight: 300;
      }
      .row {
        &:last-child {
          padding-top: 20px;
        }
      }
      p.divider {
        border-bottom: 5px solid $dkblue;
        width: 150px;
        display: block;
        margin: 0 auto;
        position: relative;
        bottom: 5px;
      }
    }
    section#about {
      padding: 50px 0px;
      background:url(../img/beard_bg.png) no-repeat transparent;
      background-position: 65% 39%;
      background-attachment: inherit !important;
      p {
        font-size: 1.3em;
        color: $grey;
      }
      img {
        box-shadow: 0px 0px 10px $grey;
      }
    }
    section#quote {
      background-color: $white;
      padding: 20px 0px;
      blockquote {
        color: $blue;
        font-size: 2.7em;
        border-left: 5px solid $dkblue;
        cite {
          font-size: 0.7em;
          font-style: normal;
          color: $grey;
        }
        em {
          font-weight: 700;
          color: $dkblue;
          font-style: normal;
        }
      }
      a.btn-default {
        position: relative;
        top: 70px;
        float: right;
      }
    }
    section#brands {
      padding: 20px 0px;
      h2 {
        text-align: center;
        margin-bottom: 20px;
      }
      img {
        display: block;
        margin: 0 auto;
        opacity: 0.4;
        &:hover {
          opacity: 1;
          transition: all 0.5s ease;
        }
      }
      div.col-xs-6 {
        margin-bottom: 20px;
        &:last-child {
          margin: 0;
        }
      }
    }
    footer {
      background-color: $dkblue;
      color: $white;
      a.logo {
        background:url(../img/logo_white.png) top center no-repeat transparent;
        width: 150px;
        height: 50px;
        display: block;
        text-indent: -1000px;
      }
      ul {
        list-style: none;
        padding: 0px;
        margin: 0px;
        position: relative;
        top: 6px;
        li {
          display: inline-block;
          padding-right: 20px;
          &:last-child {
            padding: 0px;
          }
          a.fa {
            font-size: 2.8em;
            color: $white;
          }
          a.fa-envelope {
            &:hover {
              color: $white;
              transition: all 0.5s ease;
              text-decoration: none;
            }
            &:focus {
              text-decoration: none;
            }
          }
          a.fa-skype {
            &:hover {
              color: $skype;
              transition: all 0.5s ease;
              text-decoration: none;
            }
            &:focus {
              color: $skype;
              text-decoration: none;
            }
          }
          a.fa-facebook-official {
            &:hover {
              color: $facebook;
              transition: all 0.5s ease;
              text-decoration: none;
            }
            &:focus {
              color: $facebook;
              text-decoration: none;
            }
          }
          a.fa-twitter {
            &:hover {
              color: $twitter;
              transition: all 0.5s ease;
              text-decoration: none;
            }
            &:focus {
              color: $twitter;
              text-decoration: none;
            }
          }
          a.fa-github {
            &:hover {
              color: $black;
              transition: all 0.5s ease;
              text-decoration: none;
            }
            &:focus {
              color: $black;
              text-decoration: none;
            }
          }
        }
      }
    }
  }
}