/* Colours */

$red: #c40000;
$black: #000000;
$white: #FFFFFF;
$ltgrey: #f5f5f5;
$ltgreyalt: #EBEBEB;
$grey: #9d9d9d;
$dkgrey: #333333;
$ltblue: #0092FF;
$blue: #006DBF;
$dkblue: #002440;

$skype: #12A5F4;
$facebook: #3b5998;
$twitter: #4099FF;