/* IMPORTS */
@import "mobile";
@import "var";
@import "sections";
@import "normalize";

html {
  body {
    background-color: $ltgrey;
    font-family: 'PT Sans', sans-serif;
    h1,h2,h3,h4,h5,h6 {
      font-family: 'Amatic SC', cursive;
    }
  }
}